<h1 style= "color : blue">this is my about page</h1>
<div>
  time is: <%= Time.now %>
  <a href="http://www.google.com" target="_blank">Google</a>
  <a href="/">Home</a>
  <a href="contact">contact</a>
</div>
