<h1 style= "color : blue">this is contact page</h1>
<div>
  time is: <%= Time.now %>
  <a href="http://www.google.com" target="_blank">Google</a>
  <%= link_to 'new about',about_path %>
  <%= link_to '/',home_path %>
</div>
