<h1 style= "color : blue">this is awesome</h1>
<div>
  time is: <%= Time.now %>
  chris is not awesome by the way 'jk' ;)
  <a href="http://www.google.com" target="_blank">Google</a>
  <a href="about">About page</a>
  <%= link_to 'new about',about_path %>
</div>
